@media print {
  .CourseSearch * {
      display: none;
  }

  .AvailableClasses * {
      display: none;
  }

  .SelectedClasses * {
      display: none;
  }

  .ProjectedWeeklySchedule * {
      visibility: visible;
  }

  .ProjectedWeeklyScheduleButtons * {
      visibility: hidden;
  }

}