@media screen {
  .CourseSearch * {
    visibility: visible;
  }

  .AvailableClasses * {
    visibility: visible;
  }

  .SelectedClasses * {
    visibility: visible;
  }

  .ProjectedWeeklySchedule * {
    visibility: visible;
  }

  .ProjectedWeeklyScheduleButtons * {
    visibility: visible;
  }

  tbody * :not(#time_column):hover {
      transform: scale(2);
  }

}
