<!DOCTYPE HTML>
<html>
<head>
    <title>UBFlowin</title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.1.0/metisMenu.css">
    <link rel="stylesheet" href="http://cdn.w3cbus.com/startbootstrap-sb-admin-2/1.0.7/css/sb-admin-2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/timelinejs/2.36.0/css/timeline.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
    {% block layout %}{% endblock %}
</html>
