<!DOCTYPE HTML>
<html>
<head>
    <title>UBFlowin</title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='startbootstrap-sb-admin-2-1.0.7/bower_components/metisMenu/src/metisMenu.css') }}">-->
    <link rel="stylesheet" href="{{ url_for('static', filename='startbootstrap-sb-admin-2-1.0.7/dist/css/sb-admin-2.css') }}">
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='startbootstrap-sb-admin-2-1.0.7/dist/css/timeline.css') }}">-->
    <link rel="stylesheet" href="{{ url_for('static', filename='startbootstrap-sb-admin-2-1.0.7/bower_components/font-awesome/css/font-awesome.css') }}">

</head>
    {% block layout %}{% endblock %}
</html>
