{% extends "layout.html" %}
{% block body %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='custom_ubflow.js') }}"></script>
<script>
    var DEGREE_HANDLES= [];
    var USER_ID =0;

    /*
     *  Gets the current User ID so the flowsheet can adjust according to their history
     */
    $.getJSON('/userid', function(dat) {
        var handle_index = 0;
        console.log(dat);
        if (dat.classes) {
            USER_ID = dat.classes[0].ID;
            $.getJSON('/degreeinfo/' + String(USER_ID), function (dat) {
                console.log(dat);
                if (dat.classes) {
                    var x = 0;
                    while (x < dat.classes.length) {
                        var id = dat.classes[x].ID;
                        var ubclass = dat.classes[x].UBCLASS;
                        var sem_index = dat.classes[x].SEM_INDEX;
                        var link = "link";
                        var title = dat.classes[x].TITLE;
                        var pre1 = dat.classes[x].PRE_REQ1;
                        DEGREE_HANDLES[handle_index] = new Degree(ubclass, sem_index, title, link, pre1, 1);
                        handle_index += 1;
                        x = x + 1;
                    }
                }
            });

            /* Get All Courses, but don't include repeats */
            $.getJSON('/degreeinfo', function(dat) {
                console.log(dat);
                if(dat.classes) {
                    var x = 0;
                    while (x< dat.classes.length) {
                        var id = dat.classes[x].ID;
                        var ubclass = dat.classes[x].UBCLASS;
                        var sem_index = dat.classes[x].SEM_INDEX;
                        var link = "link";
                        var title = dat.classes[x].TITLE;
                        var pre1 = dat.classes[x].PRE_REQ1;
                        if(!search_degree_for_repeats(ubclass)) {
                            DEGREE_HANDLES[handle_index] = new Degree(ubclass, sem_index, title, link, pre1, 0);
                            handle_index += 1;
                        }
                        x = x + 1;
                    }
                }
                populate_semesters();
            });
        }
    });

//    /* Checkes for repeats in DEGREE_HANDLES */
//    function search_degree_for_repeats(id){
//        for(var p=0;p<DEGREE_HANDLES.length;p++){
//            if( id == DEGREE_HANDLES[p].UBCLASS){
//                return true;
//            }
//        }
//        return false;
//    }



</script>

<div id="wrapper">
    <div id="page-wrapper">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-4">
                            <h2> B.S. Computer Engineering </h2>
                        </div>
                    </div>
                </div>
                <!-- .panel-heading -->
                <div class="panel-body" style="padding:6px;">
                    <div class="panel-group" id="flowsheet_container">
                        <div class="row" align="center">

                            <div class="col-xs-12">
                                <div  class="panel-body" style="padding:6px;">
                                    <div id="year1" class="col-xs-3">
                                        <div id="semester1" class="col-xs-6" >
                                            <div class="panel panel-primary">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title">Semester 1</h3>
                                                </div>
                                                <div class="panel-body" id="sem1" style="padding:6px 4px;">

                                                </div>
                                            </div>
                                        </div>
                                        <div id="semester2" class="col-xs-6" >
                                            <div class="panel panel-primary">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title">Semester 2</h3>
                                                </div>
                                                <div class="panel-body" id="sem2" style="padding:6px 4px;">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="year2" class="col-xs-3">
                                        <div id="semester3" class="col-xs-6" >
                                            <div class="panel panel-primary">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title">Semester 3</h3>
                                                </div>
                                                <div class="panel-body" id="sem3" style="padding:6px 4px;">

                                                </div>
                                            </div>
                                        </div>
                                        <div id="semester4" class="col-xs-6" >
                                            <div class="panel panel-primary">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title">Semester 4</h3>
                                                </div>
                                                <div class="panel-body" id="sem4" style="padding:6px 4px;">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="year3" class="col-xs-3">
                                        <div id="semester5" class="col-xs-6" >
                                            <div class="panel panel-primary">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title">Semester 5</h3>
                                                </div>
                                                <div class="panel-body" id="sem5" style="padding:6px 4px;">

                                                </div>
                                            </div>
                                        </div>
                                        <div id="semester6" class="col-xs-6" >
                                            <div class="panel panel-primary">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title">Semester 6</h3>
                                                </div>
                                                <div class="panel-body" id="sem6" style="padding:6px 4px;">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="year4" class="col-xs-3">
                                        <div id="semester7" class="col-xs-6" style="border: 1px;">
                                            <div class="panel panel-primary">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title">Semester 7</h3>
                                                </div>
                                                <div class="panel-body" id="sem7" style="padding:6px 4px;">

                                                </div>
                                            </div>
                                        </div>
                                        <div id="semester8" class="col-xs-6" >
                                            <div class="panel panel-primary">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title">Semester 8</h3>
                                                </div>
                                                <div class="panel-body" id="sem8" style="padding:6px 4px;">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>

    var Degree = function(ubclass, sem_index,title, link, pre1, user_took){
        this.UBCLASS = ubclass;
        this.SEM_INDEX = sem_index;
        this.LINK = link;
        this.TITLE = title;
        this.PRE_REQ1 = pre1;
        this.TAKEN = user_took
    };

    var Helper_Table = function(user_id){
        this.user_id = user_id;
        this.classes_taken = [];
        for(var x=0;x<40;x++){
            this.classes_taken[x] = 0;
        }
    };


    jQuery.fn.shake = function() {
        this.each(function(i) {
            $(this).css({ "position" : "relative" });
            for (var x = 1; x <= 3; x++) {
                $(this).animate({left:-5},5).animate({ left:0},10).animate({left:5},5).animate({left:0},10);
            }
        });
        return this;
    };

    $("#sem8").click(function() {
        $("#sem1").shake();
        $("#sem2").shake();
        $("#sem3").shake();
        $("#sem4").shake();
        $("#sem5").shake();
        $("#sem6").shake();
        $("#sem7").shake();
        $("#sem8").shake();
    });
</script>
<script type="text/javascript" src="{{ url_for('static', filename='custom_ubflow.js') }}"></script>
{% endblock %}