{% extends "layout.html" %}
{% block body %}
<!--script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script-->

<script>
    var DEGREE_HANDLES= [];

    $.getJSON('/degreeinfo', function(dat) {
        console.log(dat);
        var x = 0;
        if(dat.classes) {
            while (x< dat.classes.length) {
                var id = dat.classes[x].ID;
                var ubclass = dat.classes[x].UBCLASS;
                var sem_index = dat.classes[x].SEM_INDEX;
                var link = "link";
                var title = dat.classes[x].TITLE;
                var pre1 = dat.classes[x].PRE_REQ1;
                DEGREE_HANDLES[x] = new Degree(ubclass,sem_index,title,link,pre1);
                x = x + 1;
            }
        }
        populate_semesters();
    });

</script>
<div class="col-xs-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2> B.S. Computer Engineering </h2>
        </div>
        <!-- .panel-heading -->
        <div class="panel-body">
            <div class="panel-group" id="flowsheet_container">
                <div class="row" align="center">

                    <div id="year1" class="col-xs-12">
                        <div  class="panel-body">
                            <div class="col-xs-3">
                                <div id="semester1" class="col-xs-6" >
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Semester 1</h3>
                                        </div>
                                        <div class="panel-body" id="sem1" style="padding:6px 4px;">

                                        </div>
                                    </div>
                                </div>
                                <div id="semester2" class="col-xs-6" >
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Semester 2</h3>
                                        </div>
                                        <div class="panel-body" id="sem2" style="padding:6px 4px;">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div id="semester3" class="col-xs-6" >
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Semester 3</h3>
                                        </div>
                                        <div class="panel-body" id="sem3" style="padding:6px 4px;">

                                        </div>
                                    </div>
                                </div>
                                <div id="semester4" class="col-xs-6" >
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Semester 4</h3>
                                        </div>
                                        <div class="panel-body" id="sem4" style="padding:6px 4px;">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div id="semester5" class="col-xs-6" >
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Semester 5</h3>
                                        </div>
                                        <div class="panel-body" id="sem5" style="padding:6px 4px;">

                                        </div>
                                    </div>
                                </div>
                                <div id="semester6" class="col-xs-6" >
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Semester 6</h3>
                                        </div>
                                        <div class="panel-body" id="sem6" style="padding:6px 4px;">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div id="semester7" class="col-xs-6" style="border: 1px;">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Semester 7</h3>
                                        </div>
                                        <div class="panel-body" id="sem7" style="padding:6px 4px;">

                                        </div>
                                    </div>
                                </div>
                                <div id="semester8" class="col-xs-6" >
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Semester 8</h3>
                                        </div>
                                        <div class="panel-body" id="sem8" style="padding:6px 4px;">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
            </div>
        </div>
    </div>
</div>

<script>
    var Degree = function(ubclass, sem_index,title, link,pre1){
        this.UBCLASS = ubclass;
        this.SEM_INDEX = sem_index;
        this.LINK = link;
        this.TITLE = title;
        this.PRE_REQ1 = pre1;
    };

    function show_info(id, iteration){
        var elem;
        var next;
        elem = document.getElementById(id);
        if(iteration == 0){
            elem.style.backgroundColor = "CornflowerBlue";
            iteration += 1;
        }
        else if(iteration == 1){
            elem.style.backgroundColor = "#339966";
            iteration += 1;
        }
        else if(iteration == 2){
            elem.style.backgroundColor = "#47a375";
            iteration += 1;
        }
        else if(iteration == 3){
            elem.style.backgroundColor = "#5cad85";
            iteration += 1;
        }
        else if(iteration == 4){
            elem.style.backgroundColor = "#70b894";
            iteration += 1;
        }
        else if(iteration == 5){
            elem.style.backgroundColor = "#86c2a3";
            iteration += 1;
        }
        else if(iteration == 6){
            elem.style.backgroundColor = "#99ccb2";
            iteration += 1;
        }
        else if(iteration == 7){
            elem.style.backgroundColor = "#add6c2";
            iteration += 1;
        }
        if(elem.getAttribute('pre_req')){
            if(elem.getAttribute('pre_req') != 'none') {
                next = elem.getAttribute('pre_req');
                show_info(next, iteration);
            }
        }
    }


    function hide_info(id,iteration){
        var elem;
        var next;
        elem = document.getElementById(id);
        elem.style.backgroundColor = "White";
        if(elem.getAttribute('pre_req')){
            if(elem.getAttribute('pre_req') != 'none') {
                next = elem.getAttribute('pre_req');
                hide_info(next, iteration);
            }
        }
    }

    function populate_semesters(){
        for(var sem=0;sem<9;sem++){
            for(var i=0;i<DEGREE_HANDLES.length;i++) {
                if (DEGREE_HANDLES[i].SEM_INDEX == sem) {
                    create_new_course_block(sem, i);
                }
            }
        }
    }


    function create_new_course_block(sem_index, num){
        var course = document.createElement('sem'+String(sem_index)+'_course'+String(num));
        var a = document.createElement('course' + String(num));
        a.setAttribute('style', 'height: 80px; min-width: 110px; padding: 10px 2px; ' +
                'border-top-left-radius: 8px;border-top-right-radius: 8px;' +
                'border-bottom-left-radius: 8px;border-bottom-right-radius: 8px;' +
                'border-color: #1f6485');
        a.setAttribute('id',String(DEGREE_HANDLES[num].UBCLASS));
        a.setAttribute('class', 'list-group-item');

        //Set Change Color on Hover
        var mouseover = "show_info('"+String(DEGREE_HANDLES[num].UBCLASS)+"',"+String(0)+")";
        var mouseout = "hide_info('"+String(DEGREE_HANDLES[num].UBCLASS)+"',"+String(0)+")";
        a.setAttribute('onmouseover', mouseover);
        a.setAttribute('onmouseout', mouseout);

        //Add pre-req & co-req
        a.setAttribute('pre_req',DEGREE_HANDLES[num].PRE_REQ1);
        course.appendChild(a);

        //course and cap box
        var course_box = document.createElement("course_box");
        course_box.setAttribute('class', 'col-xs-12')
        a.appendChild(course_box);

        //Add cap container
        var cap_container = document.createElement("cap_container");
        cap_container.setAttribute('class', 'col-xs-2');
        course_box.appendChild(cap_container);

        //Add grad cap
        var grad_cap = document.createElement('grad_cap');
        grad_cap.setAttribute('class', 'fa fa-graduation-cap');
        cap_container.appendChild(grad_cap);

        //Add course name container
        var course_container = document.createElement("course_container");
        course_container.setAttribute('class', 'col-xs-10');
        course_box.appendChild(course_container);

        //add course name
        var course_name = document.createElement('course_text' + String(num));
        var course_name_text = document.createTextNode(DEGREE_HANDLES[num].UBCLASS);
        course_name.appendChild(course_name_text);
        course_container.appendChild(course_name);

        var span = document.createElement("span");
        span.setAttribute('style', 'height:25px');
        span.setAttribute('class', 'col-xs-12');
        course_box.appendChild(span);

        //course title
        var course_title_container = document.createElement("course_title");
        course_title_container.setAttribute('class', 'col-xs-12');
        course_title_container.setAttribute('style', 'font-size:11px;font-style:italic;');
        course_title_container.setAttribute('font-family', 'Agency fb');
        a.appendChild(course_title_container);

        //add course name
        var course_title1 = document.createElement('course_title' + String(num));
        var course_text_title = document.createTextNode(DEGREE_HANDLES[num].TITLE);
        course_title1.appendChild(course_text_title);
        course_title_container.appendChild(course_title1);

        var list = document.getElementById('sem'+String(sem_index));
        list.insertBefore(course, list.childNodes[0]);
    }


</script>

{% endblock %}