{% extends "layout.html" %}
{% block body %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

<script>
    var DEGREE_HANDLES= [];

    $.getJSON('/degreeinfo', function(dat) {
        console.log(dat);
        var x = 0;
        if(dat.classes) {
            while (x< dat.classes.length) {
                var id = dat.classes[x].ID;
                var ubclass = dat.classes[x].UBCLASS;
                var sem_index = dat.classes[x].SEM_INDEX;
                var link = "link";
                DEGREE_HANDLES[x] = new Degree(ubclass,sem_index,link);
                x = x + 1;
            }
        }
        populate_semesters();
    });

</script>
<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2> B.S. Computer Engineering </h2>
        </div>
        <!-- .panel-heading -->
        <div class="panel-body">
            <div class="panel-group" id="flowsheet_container">
                <div class="row" align="center">

                    <div id="year1" class="col-md-12">
                        <div  class="panel-body">
                            <div class="col-md-3">
                                <div id="semester1" class="col-md-6" >
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Fall 2015</h3>
                                        </div>
                                        <div class="panel-body" id="sem1" style="padding:6px 4px;">

                                        </div>
                                    </div>
                                </div>
                                <div id="semester2" class="col-md-6" >
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Fall 2015</h3>
                                        </div>
                                        <div class="panel-body" id="sem2" style="padding:6px 4px;">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div id="semester3" class="col-md-6" >
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Fall 2015</h3>
                                        </div>
                                        <div class="panel-body" id="sem3" style="padding:6px 4px;">

                                        </div>
                                    </div>
                                </div>
                                <div id="semester4" class="col-md-6" >
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Fall 2015</h3>
                                        </div>
                                        <div class="panel-body" id="sem4" style="padding:6px 4px;">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div id="semester5" class="col-md-6" >
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Fall 2015</h3>
                                        </div>
                                        <div class="panel-body" id="sem5" style="padding:6px 4px;">

                                        </div>
                                    </div>
                                </div>
                                <div id="semester6" class="col-md-6" >
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Fall 2015</h3>
                                        </div>
                                        <div class="panel-body" id="sem6" style="padding:6px 4px;">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div id="semester7" class="col-md-6" >
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Fall 2015</h3>
                                        </div>
                                        <div class="panel-body" id="sem7" style="padding:6px 4px;">

                                        </div>
                                    </div>
                                </div>
                                <div id="semester8" class="col-md-6" >
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Fall 2015</h3>
                                        </div>
                                        <div class="panel-body" id="sem8" style="padding:6px 4px;">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>


            </div>
        </div>
    </div>
</div>

<script>
    var Degree = function(ubclass, sem_index, link){
        this.UBCLASS = ubclass;
        this.SEM_INDEX = sem_index;
        this.LINK = link;
    };

    function show_info(id){
        var elem = document.getElementById(id);
        elem.style.backgroundColor = "CornflowerBlue";
    }
    function hide_info(id){
        var elem = document.getElementById(id);
        elem.style.backgroundColor = "#d9edf7";
    }

    function populate_semesters(){
        for(var sem=0;sem<9;sem++){
            for(var i=0;i<DEGREE_HANDLES.length;i++) {
                if (DEGREE_HANDLES[i].SEM_INDEX == sem) {
                    create_new_course_block(sem, i);
                }
            }
        }
    }


    function create_new_course_block(sem_index, num){
        var course = document.createElement('sem'+String(sem_index)+'_course'+String(num));
                var a = document.createElement('course' + String(num));
                a.setAttribute('style', 'height: 80px; width: 150px; padding: 10px 2px;');
                a.setAttribute('id', 'sem'+String(sem_index)+'_course'+String(num));
                a.setAttribute('class', 'list-group-item');
                var mouseover = "show_info('sem"+String(sem_index)+"_course" + String(num) + "')";
                var mouseout = "hide_info('sem"+String(sem_index)+"_course" + String(num) + "')";
                a.setAttribute('onmouseover', mouseover);
                a.setAttribute('onmouseout', mouseout);
                course.appendChild(a);

                //course and cap box
                var course_box = document.createElement("course_box");
                course_box.setAttribute('class', 'col-xs-12');
                a.appendChild(course_box);

                //Add cap container
                var cap_container = document.createElement("cap_container");
                cap_container.setAttribute('class', 'col-xs-2');
                course_box.appendChild(cap_container);

                //Add grad cap
                var grad_cap = document.createElement('grad_cap');
                grad_cap.setAttribute('class', 'fa fa-graduation-cap');
                cap_container.appendChild(grad_cap);

                //Add course name container
                var course_container = document.createElement("course_container");
                course_container.setAttribute('class', 'col-xs-10');
                course_box.appendChild(course_container);

                //add course name
                var course_name = document.createElement('course_text' + String(num));
                var course_text = document.createTextNode(DEGREE_HANDLES[num].UBCLASS);
                course_name.appendChild(course_text);
                course_container.appendChild(course_name);

                var list = document.getElementById('sem'+String(sem_index));
                list.insertBefore(course, list.childNodes[0]);
    }


</script>

{% endblock %}