{% extends "layout.html" %}
{% block body %}
<script>
    var error = '{{ input_error }}';
    if (elem = document.getElementById("panel_footer")){
        elem.innerHTML = error;
    }
</script>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 col-xs-offset-3 col-xs-6">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please Login</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" method="post" action="/login">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Username" name="USERNAME" type="text" autofocus>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Password" name="PASSWORD" type="password" value="">
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input name="REMEMBER" type="checkbox" value="Remember Me">Remember Me
                                    </label>
                                </div>
                                <!-- Change this to a button or input when using this as a form -->
                                <input type="submit" class="btn btn-lg btn-primary btn-block" value ="Login"/>
                                <br/>
                                <input type="button" class="btn btn-med btn-primary btn-block" onclick="location.href='/register';" value="Go Register Me" />
                                <div class="panel-footer">
                                    <h3 id="panel_footer" class="panel-title" align="center">
                                        {% if input_error == '' %}
                                        {% else %}
                                            <script>
                                                if (elem = document.getElementById("panel_footer")){
                                                    elem.innerHTML = error;
                                                }
                                            </script>
                                        {% endif %}
                                    </h3>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


</body>
{% endblock %}


