{% extends "layout.html" %}
{% block body %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='custom_ubflow.js') }}"></script>
<link rel="stylesheet" type="text/css" href="static/custom_ubflow.css" media="screen"/>
<link rel="stylesheet" type="text/css" href="static/print_stylesheet.css" media="print"/>
<div id="wrapper">
    <div class="col-xs-12 SelectedClasses">
        <div class="panel panel-default">
            <div class="panel-body">
                <div id="selected_class_container" class="list-group">

                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='custom_ubflow.js') }}"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
{% endblock %}