{% extends "layout.html" %}
{% block body %}
<script language="JavaScript">
<!--
function setBgColorOfCell(id1,id2,id3,sColor) {
    var elem;
    if (document.getElementById) {
        if (elem = document.getElementById(id1)) {
            if (elem.style) {
                elem.style.backgroundColor = sColor;
            }
        }
        if (elem = document.getElementById(id2)) {
            if (elem.style) {
                elem.style.backgroundColor = sColor;
            }
        }
        if (elem = document.getElementById(id3)) {
            if (elem.style) {
                elem.style.backgroundColor = sColor;
            }
        }
        return 1;  // success
    }
}
function getBgColorOfCell(id) {
 var elem;
 if (document.getElementById) {
  if (elem=document.getElementById(id)) {
   if (elem.style) return ''+elem.style.backgroundColor;
  }
 }
 return 'undefined';
}

function setColorOfCell(id,sColor) {
 var elem;
 if (document.getElementById) {
  if (elem=document.getElementById(id)) {
   if (elem.style) {
    elem.style.color=sColor;
    return 1;  // success
   }
  }
 }
 return 0;  // failure
}

var slot11 = '{{ slot11 }}';
var slot12 = '{{ slot12 }}';
var slot13 = '{{ slot13 }}';
var slot21 = '{{ slot21 }}';
var slot22 = '{{ slot22 }}';
var slot23 = '{{ slot23 }}';
//-->
</script>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">UBFlowin</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-envelope fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-messages">
                        <li>
                            <a href="#">
                                <div>
                                    <strong>NAME</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>Read All Messages</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-messages -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-tasks fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-tasks">
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Next Semester Schedule</strong>
                                        <span class="pull-right text-muted">40% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                            <span class="sr-only">40% Complete (success)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Gen Eds Complete</strong>
                                        <span class="pull-right text-muted">20% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                            <span class="sr-only">20% Complete</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Degree Progress</strong>
                                        <span class="pull-right text-muted">60% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                            <span class="sr-only">60% Complete (warning)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Tasks</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-tasks -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <!--ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-comment fa-fw"></i> New Comment
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                    <span class="pull-right text-muted small">12 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> Message Sent
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-tasks fa-fw"></i> New Task
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Alerts</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-alerts -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="register.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Charts<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#">Something</a>
                                </li>
                                <li>
                                    <a href="#">Something</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="tables.html"><i class="fa fa-table fa-fw"></i> Tables</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-edit fa-fw"></i> Forms</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-wrench fa-fw"></i> UI Elements<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#">Panels and Wells</a>
                                </li>
                                <li>
                                    <a href="#">Buttons</a>
                                </li>
                                <li>
                                    <a href="#">Notifications</a>
                                </li>
                                <li>
                                    <a href="#">Typography</a>
                                </li>
                                <li>
                                    <a href="#"> Icons</a>
                                </li>
                                <li>
                                    <a href="#">Grid</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-sitemap fa-fw"></i> Multi-Level Dropdown<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#">Second Level Item</a>
                                </li>
                                <li>
                                    <a href="#">Second Level Item</a>
                                </li>
                                <li>
                                    <a href="#">Third Level <span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                    </ul>
                                    <!-- /.nav-third-level -->
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-files-o fa-fw"></i> Sample Pages<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="blank.html">Blank Page</a>
                                </li>
                                <li>
                                    <a href="register.html">Login Page</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Welcome back {{ username }}</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->

            <div class="row">
                <div class="col-lg-8">
                   <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Projected Weekly Schedule
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Actions
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="#">Action</a>
                                        </li>
                                        <li><a href="#">View Current Semester</a>
                                        </li>
                                        <li><a href="#">View Next Semester</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover table-striped">
                                            <thead>
                                                <tr>
                                                    <th style="width:50px;">Time</th>
                                                    <th>Mon</th>
                                                    <th>Tue</th>
                                                    <th>Wed</th>
                                                    <th>Thu</th>
                                                    <th>Fri</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr style="height:60px;">
                                                    <td>8:00</td>
                                                    <td id="Mon_8AM"></td>
                                                    <td id="Tue_8AM"></td>
                                                    <td id="Wed_8AM"></td>
                                                    <td id="Thu_8AM"></td>
                                                    <td id="Fri_8AM"></td>
                                                </tr>
                                                <tr style="height:60px;">
                                                    <td>8:30</td>
                                                    <td id="Mon_8:30AM"></td>
                                                    <td id="Tue_8:30AM"></td>
                                                    <td id="Wed_8:30AM"></td>
                                                    <td id="Thu_8:30AM"></td>
                                                    <td id="Fri_8:30AM"></td>
                                                </tr>
                                                <tr style="height:60px;">
                                                    <td>9:00</td>
                                                    <td id="Mon_9AM"></td>
                                                    <td id="Tue_9AM"></td>
                                                    <td id="Wed_9AM"></td>
                                                    <td id="Thu_9AM"></td>
                                                    <td id="Fri_9AM"></td>
                                                </tr>
                                                <tr style="height:60px;">
                                                    <td>9:30</td>
                                                    <td id="Mon_9:30AM"></td>
                                                    <td id="Tue_9:30AM"></td>
                                                    <td id="Wed_9:30AM"></td>
                                                    <td id="Thu_9:30AM"></td>
                                                    <td id="Fri_9:30AM"></td>
                                                </tr>
                                                <tr style="height:60px;">
                                                    <td>10:00</td>
                                                    <td id="Mon_10AM"></td>
                                                    <td id="Tue_10AM"></td>
                                                    <td id="Wed_10AM"></td>
                                                    <td id="Thu_10AM"></td>
                                                    <td id="Fri_10AM"></td>
                                                </tr>
                                                <tr style="height:60px;">
                                                    <td>10:30</td>
                                                    <td id="Mon_10:30AM"></td>
                                                    <td id="Tue_10:30AM"></td>
                                                    <td id="Wed_10:30AM"></td>
                                                    <td id="Thu_10:30AM"></td>
                                                    <td id="Fri_10:30AM"></td>
                                                </tr>
                                                <tr style="height:60px;">
                                                    <td>11:00</td>
                                                    <td id="Mon_11AM"></td>
                                                    <td id="Tue_11AM"></td>
                                                    <td id="Wed_11AM"></td>
                                                    <td id="Thu_11AM"></td>
                                                    <td id="Fri_11AM"></td>
                                                </tr>
                                                <tr style="height:60px;">
                                                   <td>11:30</td>
                                                    <td id="Mon_11:30AM"></td>
                                                    <td id="Tue_11:30AM"></td>
                                                    <td id="Wed_11:30AM"></td>
                                                    <td id="Thu_11:30AM"></td>
                                                    <td id="Fri_11:30AM"></td>
                                                </tr>
                                                <tr style="height:60px;">
                                                    <td>12:00</td>
                                                    <td id="Mon_12PM"></td>
                                                    <td id="Tue_12PM"></td>
                                                    <td id="Wed_12PM"></td>
                                                    <td id="Thu_12PM"></td>
                                                    <td id="Fri_12PM"></td>
                                                </tr>
                                                <tr style="height:60px;">
                                                    <td>12:30</td>
                                                    <td id="Mon_12:30PM"></td>
                                                    <td id="Tue_12:30PM"></td>
                                                    <td id="Wed_12:30PM"></td>
                                                    <td id="Thu_12:30PM"></td>
                                                    <td id="Fri_12:30PM"></td>
                                                </tr>
                                                <tr style="height:60px;">
                                                    <td>1:00</td>
                                                    <td id="Mon_1PM"></td>
                                                    <td id="Tue_1PM"></td>
                                                    <td id="Wed_1PM"></td>
                                                    <td id="Thu_1PM"></td>
                                                    <td id="Fri_1PM"></td>
                                                </tr>
                                                <tr style="height:60px;">
                                                    <td>1:30</td>
                                                    <td id="Mon_1:30PM"></td>
                                                    <td id="Tue_1:30PM"></td>
                                                    <td id="Wed_1:30PM"></td>
                                                    <td id="Thu_1:30PM"></td>
                                                    <td id="Fri_1:30PM"></td>
                                                </tr>
                                                 <tr style="height:60px;">
                                                    <td>2:00</td>
                                                    <td id="Mon_2PM"></td>
                                                    <td id="Tue_2PM"></td>
                                                    <td id="Wed_2PM"></td>
                                                    <td id="Thu_2PM"></td>
                                                    <td id="Fri_2PM"></td>
                                                </tr>
                                                <tr style="height:60px;">
                                                    <td>2:30</td>
                                                    <td id="Mon_2:30PM"></td>
                                                    <td id="Tue_2:30PM"></td>
                                                    <td id="Wed_2:30PM"></td>
                                                    <td id="Thu_2:30PM"></td>
                                                    <td id="Fri_2:30PM"></td>
                                                </tr>
                                                <tr style="height:60px;">
                                                    <td>3:00</td>
                                                    <td id="Mon_3PM"></td>
                                                    <td id="Tue_3PM"></td>
                                                    <td id="Wed_3PM"></td>
                                                    <td id="Thu_3PM"></td>
                                                    <td id="Fri_3PM"></td>
                                                </tr>
                                                 <tr style="height:60px;">
                                                    <td>3:30</td>
                                                    <td id="Mon_3:30PM"></td>
                                                    <td id="Tue_3:30PM"></td>
                                                    <td id="Wed_3:30PM"></td>
                                                    <td id="Thu_3:30PM"></td>
                                                    <td id="Fri_3:30PM"></td>
                                                </tr>
                                                <tr style="height:60px;">
                                                    <td>4:00</td>
                                                    <td id="Mon_4PM"></td>
                                                    <td id="Tue_4PM"></td>
                                                    <td id="Wed_4PM"></td>
                                                    <td id="Thu_4PM"></td>
                                                    <td id="Fri_4PM"></td>
                                                </tr>
                                                <tr style="height:60px;">
                                                    <td>4:30</td>
                                                    <td id="Mon_4:30PM"></td>
                                                    <td id="Tue_4:30PM"></td>
                                                    <td id="Wed_4:30PM"></td>
                                                    <td id="Thu_4:30PM"></td>
                                                    <td id="Fri_4:30PM"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.table-responsive -->
                                </div>
                                <!-- /.col-lg-4 (nested) -->

                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-8 -->
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bell fa-fw"></i> Class Schedule Options
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="list-group">
                                <a href="#" class="list-group-item" onclick="setBgColorOfCell(slot11,slot12,slot13,'blue');return false;">
                                    <i class="fa fa-comment fa-fw"></i> {{ Class_Option_1 }}
                                    <span class="pull-right text-muted small"><em>{{ Class_Option_1_Days }} : {{ Class_Option_1_Time }}</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item" onclick="setBgColorOfCell(slot21,slot22,slot23,'blue');return false;">
                                    <i class="fa fa-twitter fa-fw"></i> {{ Class_Option_2 }}
                                    <span class="pull-right text-muted small"><em>{{ Class_Option_2_Days }} : {{ Class_Option_2_Time }}</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item" onclick="setBgColorOfCell(slot1,slot2,slot3,'blue');return false;">
                                    <i class="fa fa-envelope fa-fw"></i> Class_Option_3
                                    <span class="pull-right text-muted small"><em>Class_Op.Class_Name</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item" onclick="setBgColorOfCell(slot1,slot2,slot3,'blue');return false;">
                                    <i class="fa fa-tasks fa-fw"></i> Class_Option_4
                                    <span class="pull-right text-muted small"><em>Class_Op.Class_Name</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item" onclick="setBgColorOfCell(slot1,slot2,slot3,'blue');return false;">
                                    <i class="fa fa-upload fa-fw"></i> Class_Option_5
                                    <span class="pull-right text-muted small"><em>Class_Op.Class_Name</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item" onclick="setBgColorOfCell(slot1,slot2,slot3,'blue');return false;">
                                    <i class="fa fa-bolt fa-fw"></i> Class_Option_6
                                    <span class="pull-right text-muted small"><em>Class_Op.Class_Name</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item" onclick="setBgColorOfCell(slot1,slot2,slot3,'blue');return false;">
                                    <i class="fa fa-warning fa-fw"></i> Class_Option_7
                                    <span class="pull-right text-muted small"><em>Class_Op.Class_Name</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item" onclick="setBgColorOfCell(slot1,slot2,slot3,'blue');return false;">
                                    <i class="fa fa-shopping-cart fa-fw"></i> Class_Option_8
                                    <span class="pull-right text-muted small"><em>Class_Op.Class_Name</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item" onclick="setBgColorOfCell(slot1,slot2,slot3,'blue');return false;">
                                    <i class="fa fa-money fa-fw"></i> Class_Option_9
                                    <span class="pull-right text-muted small"><em>Class_Op.Class_Name</em>
                                    </span>
                                </a>
                            </div>
                            <!-- /.list-group -->
                            <a href="#" class="btn btn-default btn-block">View All Alerts</a>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Donut Chart Example
                        </div>
                        <div class="panel-body">
                            <div id="morris-donut-chart"></div>
                            <a href="#" class="btn btn-default btn-block">View Details</a>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <div class="chat-panel panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-comments fa-fw"></i>
                            Chat
                            <div class="btn-group pull-right">
                                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-chevron-down"></i>
                                </button>
                                <ul class="dropdown-menu slidedown">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-refresh fa-fw"></i> Refresh
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-check-circle fa-fw"></i> Available
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-times fa-fw"></i> Busy
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-clock-o fa-fw"></i> Away
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-sign-out fa-fw"></i> Sign Out
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <ul class="chat">
                                <li class="left clearfix">
                                    <span class="chat-img pull-left">
                                        <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle" />
                                    </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <strong class="primary-font">Jack Sparrow</strong>
                                            <small class="pull-right text-muted">
                                                <i class="fa fa-clock-o fa-fw"></i> 12 mins ago
                                            </small>
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                        </p>
                                    </div>
                                </li>
                                <li class="right clearfix">
                                    <span class="chat-img pull-right">
                                        <img src="http://placehold.it/50/FA6F57/fff" alt="User Avatar" class="img-circle" />
                                    </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <small class=" text-muted">
                                                <i class="fa fa-clock-o fa-fw"></i> 13 mins ago</small>
                                            <strong class="pull-right primary-font">Bhaumik Patel</strong>
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                        </p>
                                    </div>
                                </li>
                                <li class="left clearfix">
                                    <span class="chat-img pull-left">
                                        <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle" />
                                    </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <strong class="primary-font">Jack Sparrow</strong>
                                            <small class="pull-right text-muted">
                                                <i class="fa fa-clock-o fa-fw"></i> 14 mins ago</small>
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                        </p>
                                    </div>
                                </li>
                                <li class="right clearfix">
                                    <span class="chat-img pull-right">
                                        <img src="http://placehold.it/50/FA6F57/fff" alt="User Avatar" class="img-circle" />
                                    </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <small class=" text-muted">
                                                <i class="fa fa-clock-o fa-fw"></i> 15 mins ago</small>
                                            <strong class="pull-right primary-font">Bhaumik Patel</strong>
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- /.panel-body -->
                        <div class="panel-footer">
                            <div class="input-group">
                                <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                                <span class="input-group-btn">
                                    <button class="btn btn-warning btn-sm" id="btn-chat">
                                        Send
                                    </button>
                                </span>
                            </div>
                        </div>
                        <!-- /.panel-footer -->
                    </div>
                    <!-- /.panel .chat-panel -->
                </div>
                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script type="text/javascript" src="{{ url_for('static', filename='startbootstrap-sb-admin-2-1.0.7/bower_components/jquery/dist/jquery.min.js') }}"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script type="text/javascript" src="{{ url_for('static', filename='startbootstrap-sb-admin-2-1.0.7/bower_components/metisMenu/dist/metisMenu.min.js') }}"></script>
    <!-- Morris Charts JavaScript -->
    <script type="text/javascript" src="{{ url_for('static', filename='startbootstrap-sb-admin-2-1.0.7/bower_components/raphael/raphael-min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='startbootstrap-sb-admin-2-1.0.7/bower_components/morrisjs/morris.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='startbootstrap-sb-admin-2-1.0.7/js/morris-data.js') }}"></script>
    <!--bootstrap and custom bootstrap js files-->
    <script type="text/javascript" src="{{ url_for('static', filename='startbootstrap-sb-admin-2-1.0.7/dist/js/sb-admin-2.js') }}"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
{% endblock %}