{% extends "layout.html" %}
{% block layout %}
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please Register</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" method="post" action="/register">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Username" name="USERNAME" type="text" autofocus>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Password" name="PASSWORD" type="text" value="">
                                </div>
                                 <div class="form-group">
                                    <input class="form-control" placeholder="First Name" name="FIRST_NAME" type="text" value="">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Last Name" name="LAST_NAME" type="text" value="">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Degree" name="DEGREE" type="text" value="">
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input name="remember" type="checkbox" value="Remember Me">Remember Me
                                    </label>
                                </div>
                                <!-- Change this to a button or input when using this as a form -->
                                <input type="submit" class="btn btn-lg btn-success btn-block" value ="Register"/>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
{% endblock %}


